@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: #E8E8E8;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-light-gray: #aaa;
    --star-yellow: #FFBB3A;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html,
body {
    background-color: var(--bg-gray);
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.contact-container {
    display: flex;
    align-items: center;
}

.contact-container img {
    margin-right: 10px;
}

#cardModel {
    display: none;
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-desciption {
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 190px;
}

.card-desciption h3,
.form-desciption h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.btn, .btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.card-description-bottom img {
    width: 22px;
}

.card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

.pagination-container {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.pagination-container a {
    color: var(--color-primary);
    font-weight: bold;
}

.page-item.active .page-link {
    background-color: var(--color-primary);
}

/* form.html css */

.form-container {
    padding: 40px 0;
    max-width: 480px;
}

.form-desciption {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.error {
    font-size: 11px;
    color: #F00;
}